header {
  text-align: center;
  background-color:black;
  color:yellow;
  font-size: 50px;
  height: 200px;
  }
  
#nameLable {
  text-align: center;
  background-color:black;
  color:white;
  font-size: 25px;
}
  .wrapper {
    background-color:black;
    text-align: left;
    height: 100px;
  }

  body {
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    color: whitesmoke;
  }

  button {
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    background-color: hsla(46, 74%, 52%, 0.5);
    margin-top: 8%;
    margin-left:5%;
    margin-right: 10px;
    position: absolute;
    max-width: 200px;
  }
  button:hover {
    background-color: hsla(86, 74%, 52%, 0.5);
  }
  .leftButton{
    right:20%;
    margin-top:20%;
  }
  .rightButton{
    left:15%;
    margin-top: 20%;
  }
  #playbox {
    position: absolute;
    top: 25%;
    right: 10%;
    left: 10%;
    height: 50%;
    width: 75%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: hsla(208, 100%, 30%, 0.5);
  }
  #radioChoice {
    position: relative;
    bottom: 50%;
    text-align: center;
  }
  
  #textinsert {
    position: relative;
    text-align: center;
    font-size: 50px;
  }

  .container {
    overflow: hidden;
  }

  .sliding-background {
    background: url(../img/galaxy1.jpg) repeat-x;
    height: 1600px;
    width: 6000px;
    animation: slide 55s linear infinite;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-3500px, 0, 0);
    }
  }
  .mars{
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    color: whitesmoke;
    background-image: url(../img/mars.jpg);
    width: 100%;
    height:100%;

  }
  .devs{
      position: absolute;
      top: 25%;
      width: 300px;
      height: 450px;
      background-color:rgba(0, 0, 204, .5);
      font-family: 'Amatic SC', cursive;
      color: white;
      text-align: right;
      font-size: 14px;
      transition: transform .2s;
      margin: 5px;
  }
  .devs:hover {
    transform: scale(1.5); 
  }
  .devs h2{
    font-size:20px;
    padding: 10px;
  }
  .devs img{
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  #Richard{
      left:20%;
  }
  #Trae{
      left:45%;
  }
  #Steven{
      top:80%;
      left:30%;
      font-size:12px;
  }
  #Jonathan{
      top:80%;
      left:55%;
  }
  #Raven{
      left:70%;
  }
#home{
    position: absolute;
    width:20%;
    top:5%;
    left:80%;
    font-family: 'Amatic SC', cursive;
    color:yellow;
    font-size: 30px;
  }
a:link {
  color: yellow;
}
a:visited {
    color:yellow;
}
.devPic{
     width:80%;
}
#Richard img{
  transform: rotate(90deg);
  margin: 10%;
}
#Jonathan img{
  width:60%;
  }

.devDescription {
  position: absolute;
  visibility: hidden;
}

.devs:hover .devDescription{
  visibility: visible;
  opacity: 3;
}
.devDescription{
  padding: 8px;
}

audio{
  display: block;
  margin-left: 80%;
  width: 20%;
  margin-top: 25%;
}

#continueButton {
  position: relative;
    bottom: 15%;
    text-align: center;
}

#gameOverScreen {
  font-family: fantasy;
}

.gameOverButton {
  position: relative;
    bottom: 30%;
    text-align: center;
}