.container {
    overflow: hidden;
  }

.sliding-background {
    background: url(../Space-Balls-2.6/img/galaxy1.jpg) repeat-x;
    height: 1600px;
    width: 6000px;
    animation: slide 55s linear infinite;
  }
  
@keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-3500px, 0, 0);
    }
  }
#gameOverScreen {
    font-family: fantasy;
    font-size: 100px;
    color: red;
    text-align: center;
  }

h1 {
  position: absolute;
  text-align: center;
  bottom: 65%;
  left: 35%;
}

header {
  text-align: center;
  background-color:black;
  color:yellow;
  font-size: 50px;
  height: 200px;
}

#home{
  position: absolute;
  width:20%;
  top:5%;
  left:69%;
  font-family: 'Amatic SC', cursive;
  color:yellow;
  font-size: 30px;
}

#aboutMe{
  position: absolute;
  width:20%;
  top:10%;
  left:75%;
  font-family: 'Amatic SC', cursive;
  color:yellow;
  font-size: 30px;
}
a:link {
  color: yellow;
}
a:visited {
    color:yellow;
}