body{
  background-image: url(../Space-Balls-2.6/img/space.jpg)
}
  
h1 {
  position: absolute;
  text-align: center;
  bottom: 65%;
  left: 35%;
  font-family: fantasy;
  font-size: 100px;
  color: red;
  text-align: center;
}

header {
  text-align: center;
  background-color:black;
  color:yellow;
  font-size: 50px;
  height: 200px;
}

#home{
  position: absolute;
  width:20%;
  top:5%;
  left:69%;
  font-family: 'Amatic SC', cursive;
  color:yellow;
  font-size: 30px;
}

#aboutMe{
  position: absolute;
  width:20%;
  top:10%;
  left:75%;
  font-family: 'Amatic SC', cursive;
  color:yellow;
  font-size: 30px;
}
a:link {
  color: yellow;
}
a:visited {
    color:yellow;
}

#gameOverTextDiv {
  position: relative;
    color: whitesmoke;
    font-family: fantasy;
left:35%;
    font-size: 30px;
    top: 60%;
    width: 500px;
    line-height: 35px;
}

#resultsButton {
    z-index: 10000;
    position: absolute;
    bottom: 50%;
}
#gameOverTextDiv{
  position: absolute;

}